@using SellUsed.Utility
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="no.reply.sellused@gmail.com">Support@Sellused.com</a>
</address>

<div>
    <h3>Contact Online Users: </h3>
    @*@foreach (var user in OnlineUsersHelper.GetLoggedInUsers().Keys)
    {
    <p>
        @user 
    </p>
    }*@
</div>